<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver"/>
        <property name="url" value="jdbc:hsqldb:file:database/fooDB"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>


    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <!-- hibernate managed model classes -->
                <value>sepm.dsa.model.Region</value>
                <value>sepm.dsa.model.RegionBorder</value>
                <value>sepm.dsa.model.Trader</value>
                <value>sepm.dsa.model.Product</value>
                <value>sepm.dsa.model.Offer</value>
                <value>sepm.dsa.model.Deal</value>
                <value>sepm.dsa.model.TraderCategory</value>
                <value>sepm.dsa.model.AssortmentNature</value>
                <value>sepm.dsa.model.ProductCategory</value>
                <value>sepm.dsa.model.Location</value>
                <value>sepm.dsa.model.LocationConnection</value>
                <value>sepm.dsa.model.Tavern</value>
                <value>sepm.dsa.model.Unit</value>
                <value>sepm.dsa.model.UnitType</value>
                <value>sepm.dsa.model.Currency</value>
            </list>
        </property>
        <property name="mappingResources">
            <list>
                <!-- hql named queries xml -->
                <value>sepm/dsa/model/hibernate/Region.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/RegionBorder.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/Trader.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/TraderCategory.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/Location.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/Product.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/ProductCategory.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/ProductUnit.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/AssortmentNature.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/LocationConnection.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/Tavern.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/Currency.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/UnitType.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/Unit.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="javax.persistence.validation.mode">none</prop>
            </props>
        </property>
    </bean>

    <bean id="loader" class="sepm.dsa.application.SpringFxmlLoader">
    </bean>

    <!-- DAOs DI -->
    <bean id="regionDao" class="sepm.dsa.dao.RegionDaoHbmImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="regionBorderDao" class="sepm.dsa.dao.RegionBorderDaoHbmImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="traderDao" class="sepm.dsa.dao.TraderDaoHbmImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="productDao" class="sepm.dsa.dao.ProductDaoHbmImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="traderCategoryDao" class="sepm.dsa.dao.TraderCategoryDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="traderDao" ref="traderDao"/>
    </bean>

    <bean id="locationDao" class="sepm.dsa.dao.LocationDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="locationConnectionDao" class="sepm.dsa.dao.LocationConnectionDaoHbmImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="productCategoryDao" class="sepm.dsa.dao.ProductCategoryDaoHbmImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="tavernDao" class="sepm.dsa.dao.TavernDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="unitDao" class="sepm.dsa.dao.UnitDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="unitTypeDao" class="sepm.dsa.dao.UnitTypeDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="currencyDao" class="sepm.dsa.dao.CurrencyDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Services DI -->
    <bean id="regionService" class="sepm.dsa.service.RegionServiceImpl">
        <property name="regionDao" ref="regionDao"/>
        <property name="regionBorderDao" ref="regionBorderDao"/>
        <property name="locationService" ref="locationService"/>
    </bean>

    <bean id="regionBorderService" class="sepm.dsa.service.RegionBorderServiceImpl">
        <property name="regionBorderDao" ref="regionBorderDao"/>
    </bean>

    <bean id="locationService" class="sepm.dsa.service.LocationServiceImpl">
        <property name="locationDao" ref="locationDao"/>
        <property name="traderService" ref="traderService"/>
    </bean>

    <bean id="currencyService" class="sepm.dsa.service.CurrencyServiceImpl">
        <property name="currencyDao" ref="currencyDao"/>
    </bean>

    <bean id="locationConnectionService" class="sepm.dsa.service.LocationConnectionServiceImpl">
        <property name="locationConnectionDao" ref="locationConnectionDao"/>
        <property name="locationDao" ref="locationDao"/>
    </bean>

    <bean id="tavernService" class="sepm.dsa.service.TavernServiceImpl">
    </bean>

    <bean id="productService" class="sepm.dsa.service.ProductServiceImpl">
        <property name="productDao" ref="productDao"/>
    </bean>

    <bean id="productCategoryService" class="sepm.dsa.service.ProductCategoryServiceImpl">
        <property name="productCategoryDao" ref="productCategoryDao"/>
    </bean>

    <bean id="unitService" class="sepm.dsa.service.UnitServiceImpl">
        <property name="unitDao" ref="unitDao"/>
    </bean>

    <bean id="unitTypeService" class="sepm.dsa.service.UnitTypeServiceImpl">
        <property name="unitTypeDao" ref="unitDao"/>
    </bean>

    <bean id="traderCategoryService" class="sepm.dsa.service.TraderCategoryServiceImpl">
        <property name="traderCategoryDao" ref="traderCategoryDao"/>
    </bean>

    <bean id="traderService" class="sepm.dsa.service.TraderServiceImpl">
        <property name="traderDao" ref="traderDao"/>
        <property name="productService" ref="productService"/>
        <property name="pathService" ref="pathService"/>
        <property name="regionService" ref="regionService"/>
        <property name="regionBorderService" ref="regionBorderService"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="pathService" class="sepm.dsa.service.path.PathServiceDijkstraJGraphImpl">
    </bean>

    <bean id="assortmentNatureService" class="sepm.dsa.service.AssortmentNatureServiceImpl">
    </bean>

    <!-- GUI DI -->
    <bean id="MainMenuController" class="sepm.dsa.gui.MainMenuController">
        <property name="loader" ref="loader"/>
    </bean>

    <bean id="RegionListController" class="sepm.dsa.gui.RegionListController">
        <property name="loader" ref="loader"/>
        <property name="regionService" ref="regionService"/>
        <property name="regionBorderService" ref="regionBorderService"/>
        <property name="locationService" ref="locationService"/>
    </bean>

    <bean id="EditRegionController" class="sepm.dsa.gui.EditRegionController">
        <property name="loader" ref="loader"/>
        <property name="regionService" ref="regionService"/>
        <property name="regionBorderService" ref="regionBorderService"/>
    </bean>

    <bean id="LocationListController" class="sepm.dsa.gui.LocationListController">
        <property name="loader" ref="loader"/>
        <property name="locationService" ref="locationService"/>
        <property name="traderService" ref="traderService"/>
    </bean>

    <bean id="EditLocationController" class="sepm.dsa.gui.EditLocationController">
        <property name="loader" ref="loader"/>
        <property name="locationService" ref="locationService"/>
        <property name="regionService" ref="regionService"/>
    </bean>

    <bean id="ProductListController" class="sepm.dsa.gui.ProductListController">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="loader" ref="loader"/>
        <property name="productService" ref="productService"/>
    </bean>

    <bean id="EditProductController" class="sepm.dsa.gui.EditProductController">
        <property name="loader" ref="loader"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="productService" ref="productService"/>
        <property name="productCategoryService" ref="productCategoryService"/>
        <property name="regionService" ref="regionService"/>
    </bean>

    <bean id="TraderCategoryList" class="sepm.dsa.gui.TraderCategoryListController">
        <property name="loader" ref="loader"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="traderCategoryService" ref="traderCategoryService"/>
    </bean>

    <bean id="editTraderCategory" class="sepm.dsa.gui.EditTraderCategoryController">
        <property name="loader" ref="loader"/>
        <property name="traderCategoryService" ref="traderCategoryService"/>
        <property name="productCategoryService" ref="productCategoryService"/>
        <property name="assortmentNatureService" ref="assortmentNatureService"/>
    </bean>
    <bean id="traderList" class="sepm.dsa.gui.TraderListController">
        <property name="loader" ref="loader"/>
        <property name="traderService" ref="traderService"/>
        <property name="locationService" ref="locationService"/>
    </bean>
    <bean id="editTrader" class="sepm.dsa.gui.EditTraderController">
        <property name="loader" ref="loader"/>
        <property name="traderService" ref="traderService"/>
        <property name="traderCategoryService" ref="traderCategoryService"/>
        <property name="locationService" ref="locationService"/>
    </bean>
    <bean id="traderDetails" class="sepm.dsa.gui.TraderDetailsController">
        <property name="loader" ref="loader"/>
        <property name="traderService" ref="traderService"/>
    </bean>
    <bean id="EditLocationConnectionsController" class="sepm.dsa.gui.EditLocationConnectionsController">
        <property name="loader" ref="loader"/>
        <property name="locationConnectionService" ref="locationConnectionService"/>
        <property name="locationService" ref="locationService"/>
    </bean>
    <bean id="EditLocationConnectionController" class="sepm.dsa.gui.EditLocationConnectionController">
        <property name="loader" ref="loader"/>
        <property name="locationConnectionService" ref="locationConnectionService"/>
        <property name="locationService" ref="locationService"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="currencyList" class="sepm.dsa.gui.CurrencyListController">
        <property name="loader" ref="loader"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="currencyService" ref="currencyService"/>
    </bean>
    <bean id="editCurrency" class="sepm.dsa.gui.EditCurrencyController">
        <property name="loader" ref="loader"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="currencyService" ref="currencyService"/>
    </bean>
    <bean id="calculateCurrency" class="sepm.dsa.gui.CurrencyCalculateController">
        <property name="loader" ref="loader"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="currencyService" ref="currencyService"/>
    </bean>
</beans>