<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver"/>
        <property name="url" value="jdbc:hsqldb:file:fooDB"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>


    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <!-- hibernate managed model classes -->
                <value>sepm.dsa.model.Region</value>
                <value>sepm.dsa.model.RegionBorder</value>
                <value>sepm.dsa.model.Trader</value>
                <value>sepm.dsa.model.Product</value>
                <value>sepm.dsa.model.Offer</value>
                <value>sepm.dsa.model.Deal</value>
                <value>sepm.dsa.model.TraderCategory</value>
                <value>sepm.dsa.model.AssortmentNature</value>
                <value>sepm.dsa.model.ProductCategory</value>
                <value>sepm.dsa.model.Location</value>
            </list>
        </property>
        <property name="mappingResources">
            <list>
                <!-- hql named queries xml -->
                <value>sepm/dsa/model/hibernate/Region.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/RegionBorder.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/Trader.hbm.xml</value>
                <value>sepm/dsa/model/hibernate/TraderCategory.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="javax.persistence.validation.mode">none</prop>
            </props>
        </property>
    </bean>

    <bean id="loader" class="sepm.dsa.application.SpringFxmlLoader">
    </bean>

    <!-- DAOs DI -->
    <bean id="regionDao" class="sepm.dsa.dao.RegionDaoHbmImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="regionBorderDao" class="sepm.dsa.dao.RegionBorderDaoHbmImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="traderDao" class="sepm.dsa.dao.TraderDaoHbmImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="traderCategory" class="sepm.dsa.dao.TraderCategoryDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Services DI -->
    <bean id="regionService" class="sepm.dsa.service.RegionServiceImpl">
        <property name="regionDao" ref="regionDao"/>
        <property name="regionBorderDao" ref="regionBorderDao"/>
    </bean>

    <bean id="regionBorderService" class="sepm.dsa.service.RegionBorderServiceImpl">
        <property name="regionBorderDao" ref="regionBorderDao"/>
    </bean>

    <!-- GUI DI -->
    <bean id="MainMenuController" class="sepm.dsa.gui.MainMenuController">
	    <property name="loader" ref="loader"/>
    </bean>
    <bean id="RegionListController" class="sepm.dsa.gui.RegionListController">
	<property name="loader" ref="loader"/>
        <property name="regionService" ref="regionService"/>
        <property name="regionBorderService" ref="regionBorderService"/>
    </bean>
    <bean id="EditRegionController" class="sepm.dsa.gui.EditRegionController">
	<property name="loader" ref="loader"/>
        <property name="regionService" ref="regionService"/>
        <property name="regionBorderService" ref="regionBorderService"/>
    </bean>


    <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>