<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="consoleAppender"
              class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="WARN" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        </layout>
    </appender>

    <appender name="applicationFileAppender"
              class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO" />
        <param name="File" value="log/application.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        </layout>
    </appender>

    <appender name="dsaFileAppender"
              class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="WARN" />
        <param name="File" value="log/dsa-h.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        </layout>
    </appender>

    <appender name="hibernateFileAppender"
              class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="WARN" />
        <param name="File" value="log/hibernate.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        </layout>
    </appender>

    <appender name="javafxFileAppender"
              class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="WARN" />
        <param name="File" value="log/javafx.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        </layout>
    </appender>

    <logger name="sepm.dsa" additivity="true">
        <level value="WARN"/>
        <appender-ref ref="dsaFileAppender"/>
    </logger>

    <logger name="org.hibernate" additivity="true">
        <level value="WARN"/>
        <appender-ref ref="hibernateFileAppender"/>
    </logger>

    <logger name="javafx" additivity="true">
        <level value="WARN"/>
        <appender-ref ref="javafxFileAppender"/>
    </logger>

    <root>
        <level value="WARN" />
        <appender-ref ref="applicationFileAppender" />
        <appender-ref ref="consoleAppender" />
    </root>

</log4j:configuration>